body {
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

.book-list {
    display: flex;
    flex-direction: column;
}

.book-list .book {
    display: grid;
    grid-template-areas: "img name" "img author";
    justify-content: start;
    align-items: center;
    gap: 0 1em;
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid #ddd;
}

.book-list .book a {
    text-decoration: none;
    color: black;
}

.book-list .book-image {
    grid-area: img;
    width: 100px;
    margin: auto;
}

.book-list .book-name {
    grid-area: name;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.book-list .book-author {
    grid-area: author;
}

.book-card {
    text-align: center;
    height: 100vh;
}

.book-card .book-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.book-card img {
    max-height: 100vh;
    max-width: 100%;
}

.book-card .arrows {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1
}

.book-card .arrows .arrow-left,
.book-card .arrows .arrow-right {
    font-size: 300%;
    padding: 1em 0.5em;
    opacity: 0.3;
    cursor: pointer;
}

.book-card .arrows .arrow-left {
    padding-left: 0.1em;
}
.book-card .arrows .arrow-right {
    padding-right: 0.1em;
}
