body {
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

.book-list {
    display: flex;
    flex-direction: column;
}

.book-list .book {
    display: grid;
    grid-template-areas: "img name" "img author";
    justify-content: start;
    align-items: center;
    gap: 0 1em;
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid #ddd;
}

.book-list .book a {
    text-decoration: none;
    color: black;
}

.book-list .book-image {
    grid-area: img;
    width: 100px;
    margin: auto;
}

.book-list .book-name {
    grid-area: name;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.book-list .book-author {
    grid-area: author;
}

.book-list-arrows {
    display: flex;
    justify-content: space-between;
}

.book-list-arrows .arrow-left,
.book-list-arrows .arrow-right {
    padding: 0.5em 1em 2em;
}

.book-card {
    text-align: center;
    height: 100vh;
}

.book-card .book-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.book-card .book-image img.right {
    display: none;
}

.book-card img {
    max-height: 100vh;
    max-width: 100%;
}

.book-card .arrow {
    position: absolute;
    top: 50vh;
    height: 0px;
    opacity: 0.3;
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.book-card .arrow.disabled {
    opacity: 0.1;
}

.book-card .arrow.left {
    left: 0;
    padding: 0 0.5em 0 0.1em;
}

.book-card .arrow.right {
    right: 0;
    padding: 0 0.1em 0 0.5em;
}

a.goto-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    padding: 0.5em;
    z-index: 2;
}

.book-card .booklet-mode {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 32px;
    height: 32px;
    opacity: 0.2;
    padding: 0.5em;
    z-index: 2;
}

.book-card .booklet-mode.enabled {
    opacity: 1;
}

.book-card img.loader {
    position: absolute;
    top: calc(50vh - 25px);
    left: calc(50vw - 25px);
    display: none;
}

.book-card.loading img.loader {
    display: block;
}
.book-card.loading .book-image {
    visibility: hidden;
}
