<div class="book-card">
    <img class="loader" src="/static/loading.png" />

    <div class="book-image" data-base="{{.ImageBase}}" data-page="{{.CurrentPageNumber}}" data-count="{{.PageCount}}">
        <img class="left" />
        <img class="right" style="display: none;" />
    </div>

    <a href="/books" class="goto-menu">
        <img src="/static/menu.png" />
    </a>

    <div class="booklet-mode">
        <img src="/static/booklet.png" />
    </div>

    <div class="arrow left disabled">
        <img src="/static/arrow-left.png" />
    </div>
    <div class="arrow right">
        <img src="/static/arrow-right.png" />
    </div>
</div>
