<div class="book-card">
    <div class="book-image">
        <img class="loading" data-base="{{.ImageBase}}" data-page="{{.CurrentPageNumber}}" data-count="{{.PageCount}}" />
    </div>

    <a href="/books" class="goto-menu">
        <img src="/static/menu.png" />
    </a>

    <div class="arrow left disabled">&lt;</div>
    <div class="arrow right">&gt;</div>
</div>
