<a href="{{.PageURL}}">
    <div class="book">
        <img class="book-image" src="{{.PictureURL}}" />
        <div class="book-name">{{.Name}}</div>
        <div class="book-author">{{.Author}}</div>
    </div>
</a>
